@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix weird animation on load  */
.btn {
  animation:unset;

  &:active:focus {
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
  }
}

/* Add animation on content swap */
#content {
  opacity: 1;
  transition: opacity 100ms ease-in-out;
}
#content.htmx-request,
#content.htmx-swapping,
#content.htmx-settling {
  opacity: 0;
}

.input:focus {
  outline-color: hsl(var(--pf));
}

a.toggled, a.toggled:hover { color: red !important; }
