@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --rounded-btn: 1rem;
  }

  a.toggled, a.toggled:hover, a.toggled:focus { 
    color: oklch(var(--p));
  }
}

@media (prefers-color-scheme: light) {
  a.toggled, a.toggled:hover, a.toggled:focus { 
    color: oklch(var(--pc));
  }
}

/* Fix weird animation on load  */
.btn {
  animation:unset;

  &:active:focus {
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
  }
}

.input:focus {
  outline-color: hsl(var(--pf));
}

