<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/output.css" rel="stylesheet" />

    <title>
      {% block title %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Unminified htmx.js, handy for debugging errors -->
    <script src="static/dist/htmx-2.0.8.js"></script>
    <script src="static/dist/htmx-response-targets-2.0.4.min.js"></script>
    <script src="static/dist/idiomorph-0.7.4.min.js"></script>

    <meta name="htmx-config" content='{
      "allowScriptTags": false,
      "scrollIntoViewOnBoost": false
      }'>

    {% block head %}
    {% endblock %}
  </head>


  <body hx-ext="response-targets,morph">
    <script>
      let toggleLinks = function() {
        let links = document.querySelectorAll('nav a');
        for (let link of links) {
          if (link.getAttribute('href') === document.location.pathname) {
            link.classList.add('toggled');
          } else {
            link.classList.remove('toggled');
          }
        }
      };
      htmx.on('load', toggleLinks);
      htmx.on('htmx:pushedIntoHistory', toggleLinks);
    </script>
    <nav class="navbar bg-neutral text-neutral-content" id="mavbar" hx-boost="true" hx-target="#content" hx-swap="innerHTML">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl {% if cur_page == 'home' %}toggled{% endif %}" href="/">Todo app</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {% if not user %}
          <li>
            <a class="{% if cur_page == 'login' %}toggled{% endif %}" href="/login">Login</a>
          </li>
          {% else %}
          <li>
            <details>
              <summary>{{ user.email }}</summary>
              <ul class="p-2 bg-neutral/60">
                <li>
                  <a hx-post="/logout" >
                    logout
                  </a>
                </li>
              </ul>
              <script>
                htmx.on('logout', function() {
                  localStorage.removeItem('htmx-history-cache');
                });
              </script>
            </details>
          </li>
          {% endif %}

        </ul>
      </div>
    </nav>
    <div id="content" class="p-4 mt-3">
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
