<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/output.css" rel="stylesheet" />

    <title>
      {% block title %}

      {% endblock %}
    </title>

    <!-- Unminified htmx.js, handy for debugging errors -->
    <!-- <script src="https://unpkg.com/htmx.org@1.9.10/dist/htmx.js"></script> -->

    <script src="static/dist/htmx-1.9.10.min.js"></script>
    <script src="static/dist/htmx-response-targets-1.9.10.min.js"></script>
    <script src="static/dist/_hyperscript-0.9.12.min.js"></script>
    <script src="static/dist/idiomorph-0.3.0.min.js"></script>

    <meta name="htmx-config" content='{
      "allowScriptTags": false,
      "scrollIntoViewOnBoost": false
      }'>

    {% block head %}

    {% endblock %}
  </head>

  <body _="
          on load or htmx:pushedIntoHistory for a in <a/>
            if a's @href is document.location.pathname
              add .toggled to a
            else
              remove .toggled from a
            end" hx-ext="response-targets,morph">
    <nav class="navbar bg-neutral" id="mavbar" hx-boost="true" hx-target="#content" hx-swap="innerHTML swap:100ms settle:100ms">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl {% if cur_page == 'home' %}toggled{% endif %}" href="/">Todo app</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          {% if not user %}
          <li>
            <a class="{% if cur_page == 'login' %}toggled{% endif %}" href="/login">Login</a>
          </li>
          {% else %}
          <li>
            <details>
              <summary>{{ user.email }}</summary>
              <ul class="p-2 bg-base-100">
                <li>
                  <a hx-post="/logout">logout</a>
                </li>
              </ul>
            </details>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div id="content" class="p-4 mt-3">
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>
