{% extends "_base.html" %}

{% block title %}
  Login
{% endblock %}

{% set cur_page = "login" %}

{% block body %}
  <h1 class="text-5xl font-bold mb-8">Login</h1>
  <form hx-post="/login" hx-disabled-elt="find button" hx-target="#content" hx-target-401="#errors" class="mb-8" hx-on:htmx-before-send="let x = document.querySelector('#errors .alert'); x && x.remove()">
    <div class="mb-4">
      <label target="email" class="label">Email</label>
      <input id="email" type="email" class="input input-bordered w-full max-w-xs" name="email" value="{{ values.email if values }}" required autofocus />
    </div>
    <div class="mb-4">
      <label target="password" class="label">Password</label>
      <input id="password" type="password" class="input input-bordered w-full max-w-xs" name="password" required />
    </div>
    <div class="mb-4">
      <button class="btn btn-primary" type="submit">Login</button>
      <span class="htmx-indicator loading loading-spinner text-primary ms-4 align-middle"></span>
    </div>

    {% block errors %}
      <div id="errors">
        {% if errors and errors.general %}
          <div class="alert alert-error">
            {{ errors.general }}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </form>

  <a href="register" class="link" hx-boost="true" hx-target="#content">Register here!</a>
{% endblock %}
