<html>
  <head>
		<title>HI</title>
		<script src="node_modules/htmx.org/dist/htmx.min.js"></script>
		<script src="node_modules/hyperscript.org/dist/_hyperscript.min.js"></script>
		<link href="output.css" rel="stylesheet">
	</head>
	<style>
    .input:focus {
			outline-color: hsl(var(--pf));
		}
	</style>
	<body class="p-4">
		<h1 class="text-5xl font-bold mb-8">Todo pages</h1>
		<form hx-post="/todos" hx-target="find p" _="on htmx:afterRequest reset() me then send 'todo-item-added' to #todos">
			<div class="mb-4">
				<label class="block label-text">Title</label>
				<input type="text" class="input input-bordered w-full max-w-xs" name="title" required>
			</div>
			<div class="mb-4">
				<label class="block label-text">Date</label>
				<input type="date" class="input input-bordered w-full max-w-xs" name="date" required>
			</div>
			<button class="btn btn-primary rounded-full">Submit</button>
			<p></p>
		</form>

		<h3 class="mt-4">Todo items</h3>
		<div id="todos" hx-get="/todos" hx-trigger="load,todo-item-added" hx-swap="innerHTML">

		</div>

	</body>
</html>
